<div class="reply-show">
  <div class="reply-show__heading">
    <h1 class="reply-show__title">Praise To Me</h1>
  </div>
  <div class="reply">
    <div class="reply__content">
      <div class="reply__heading">
        <h2 class="reply__title">Praise</h2>
      </div>
      <div class="reply__post-list">
        <% @receives.each do |receive| %>
          <div class="reply__post-box">
            <label class="reply__post-name">From&emsp;<%= receive.user.nickname %></label>
            <label class="reply__post-content"><%= receive.post_content %></label>
            <label class="reply__post-time"><%= time_ago_in_words(receive.created_at) %></label>
            <% if receive.replies.blank? %>
            <% if receive.user.is_active? %>
              <%= link_to "Thanks", {controller: 'replies', action: 'new', id: receive.user.id, post_id: receive.id }, class: "reply__fuwatto-button--yellow" %>
            <% end %>
            <% end %>
            <div class='reply__star-btn' id="favorite_<%= receive.id %>">
              <%= render "favorites/favorite", post: receive %>
            </div>
            <% receive.replies.each do |reply| %>
              <label class="reply__post-content"><%= reply.reply_content %></label>
            <% end %>
          </div>
        <% end %>
        <%= paginate @receives, :param_name => 'receive_page' %>
      </div>
    </div>
    <div class="reply__thanks-content">
      <div class="reply__thanks-heading">
        <h2 class="reply__thanks-title">Thanks</h2>
      </div>
       <div class="reply__post-list">
        <% @thanks.each do |thank| %>
          <% if thank.replies.present? %>
          <div class="reply__post-item">
            <label class="reply__thanks-name">Thanks&nbsp;from&emsp;<%= thank.receive_user.nickname %></label>
            <label class="reply__thanks-item"><%= thank.post_content %></label>
                        ↓<br>
            <% thank.replies.each do |reply| %>
              <label class="reply__thanks-item"><%= reply.reply_content %></label>
              <label class="reply__thanks-time"><%= time_ago_in_words(reply.created_at) %></label>
            <% end %>
          </div>
          <% end %>
        <% end %>
      </div>
      <%= paginate @thanks, :param_name => 'thanks_page' %>
    </div>
  </div>
</div>
