<div class="conteiner">
  <div class="reply-heading">
    <h1>Praise To Me</h1>
  </div>
  <div class="reply-box">
    <div class="reply-content">
      <div class="reply-content-heading">
        <h2>Praise</h2>
      </div>
      <div class="post-list">
        <% @receives.each do |receive| %>
          <div class="post-item">
            <label class="letter-name">from&emsp;<%= receive.user.nickname %></label>
            <label class="letter-content"><%= receive.post_content %></label>
            <label class="letter-time"><%= time_ago_in_words(receive.created_at) %></label>
            <% if receive.replies.blank? %>
              <%= link_to "Thanks", {controller: 'replies', action: 'new', id: receive.user.id}, class: "fuwatto_btn_yellow" %>
            <% end %>
            <% receive.replies.each do |reply| %>
              <label class="letter-content"><%= reply.reply_content %></label>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="thanks-content">
      <div class="thanks-content-heading">
        <h2>Thanks</h2>
      </div>
       <div class="post-list">
        <% @thanks.each do |thank| %>
          <% if thank.replies.present? %>
          <div class="post-item">
            <label class="thanks-letter-name">thanks&nbsp;from&emsp;<%= thank.receive_user.nickname %></label>
            <label class="thanks-letter-content"><%= thank.post_content %></label>
                        ↓<br>
            <% thank.replies.each do |reply| %>
              <label class="thanks-letter-content"><%= reply.reply_content %></label>
              <label class="thanks-letter-time"><%= time_ago_in_words(reply.created_at) %></label>
            <% end %>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
