<div class="container sign-in">
  <div class="sign-in__heading">
    <h1 class="text-center sign-in__title">Sign in</h1>
  </div>

  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>

  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
    <div class="form-group row sign-in__from">
      <label class="control-label offset-3 col-md-3 px-0 text-left sign-in__label">ニックネーム</label>
      <%= f.text_field :nickname , class:"form-control pl-0 col-md-4 sign-in__text" %>
    </div>

    <div class="form-group row sign-in__from">
      <label class="control-label offset-3 col-md-3 px-0 text-left sign-in__label">パスワード</label>
      <%= f.password_field :password, autocomplete: "current-password", class:"form-control pl-0 col-md-4 sign-in__text" %>
    </div>

    <div class="form-group position col-md-12 p-0 text-center sign-in__button">
      <%= f.submit 'SIGN IN', class:"btn btn-md btn-success px-5 sign-in__submit" %>
    </div>
  <% end %>
</div>