<div class="profile-edit">
  <div class="profile-edit__heading">
    <h1 class="profile-edit__title text-center">My Profile Edit</h1>
  </div>
  <% if @user.errors.any? %>
    <div class="error-message">
      <ul style="color: red">
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="profile-form">
    <%= form_with model: @user, url: user_path, local: true do |f| %>

      <div class="form-group row profile-form__form">
        <label class="offset-3 control-label text-left col-md-3 px-0 profile-form__label">プロフィール画像</label>
        <%= f.file_field :profile_image, class: "profile-form__file" %>
      </div>

      <div class="form-group row profile-form__form">
        <label class="control-label offset-3 col-md-3 px-0 text-left profile-form__label">ニックネーム</label>
        <%= f.text_field :nickname , class:"form-control pl-0 col-md-4 profile-form__text" %>
      </div>

      <div class="form-group row profile-form__form">
        <label class="control-label offset-3 col-md-3 px-0 text-left profile-form__label">Eメール</label>
        <%= f.text_field :email , class:"form-control pl-0 col-md-4 profile-form__text" %>
      </div>

      <div class="form-group row profile-form__form">
        <label class="control-label offset-3 col-md-3 px-0 text-left profile-form__label">住んでいる都道府県</label>
        <%= f.select :place , User.places.keys, {}, class:"form-control pl-0 col-md-4 profile-form__select" %>
      </div>

      <div class="form-group row profile-form__form">
        <label class="control-label offset-3 col-md-3 px-0 text-left profile-form__label">仕事</label>
        <%= f.text_field :job , class:"form-control pl-0 col-md-4 profile-form__text" %>
      </div>

      <div class="profile-form__button-group">
        <%= f.submit 'EDIT', class:"profile-form__fuwatto-button--green" %>
        <%= link_to "UNSUBSCRIBE", users_unsubscribe_path(@user.id), class: "profile-form__fuwatto-button--red" %>
      </div>
    <% end %>
  </div>
</div>
