<div class="conteiner">
  <div class="post-heading">
    <h1>My page</h1>
  </div>
  <div class="my-profile">
    <div class="my-profile-content">
      <img src=<%= @user.profile_image %> class = "my-icon_image", fallback: "no_image.jpg">
      <div class="my-profile-box">
        <label class="my-profile-name">ニックネーム:</label><label class="my-profile-item"><%= @user.nickname %></label><br>
        <label class="my-profile-place">住まい:</label><label class="my-profile-item"><%= @user.place %></label><br>
        <label class="my-profile-job">仕事:</label><label class="my-profile-item"><%= @user.job %></label>
      </div>
    </div>
    <div class="btn-box">
      <div class="edit-btn">
        <%= link_to "EDIT", edit_user_path(@user.id), class: 'btn btn-shadow' %>
      </div>
      <div class="calender-btn">
        <%= link_to "Calender", calendar_path(@user.id), class: 'btn btn-shadow' %>
      </div>
    </div>
  </div>



  <div class="post-content">
    <div class="post-content-heding">
      <h2>My Post List</h2>
    </div>
    <div class="post-list">
      <% @user.posts.each do |user| %>
        <div class="post-item">
        <% post_user = User.find_by(id: user.receive_user_id) %>
          <label class="letter-name">Dear&emsp;<%= post_user.nickname %></label>
          <label class="letter-content"><%= user.post_content %></label>
          <label class="letter-time"><%= time_ago_in_words(user.created_at) %></label>
        </div>
      <% end %>
    </div>
  </div>
</div>
