<div class="conteiner">
  <div class="post-heading">
    <h1>My page</h1>
  </div>
  <div class="my-profile">
    <div class="my-profile-content">
      <img src=<%= @user.profile_image %> class = "icon_image", fallback: "no_image.jpg">
      <div class="my-profile-item">
        <label class="profile-name">ニックネーム:</label><label class="profile-item"><%= @user.nickname %></label><br>
        <label class="profile-place">住まい:</label><label class="profile-item"><%= @user.place %></label><br>
        <label class="profile-job">仕事:</label><label class="profile-item"><%= @user.job %></label>
      </div>
    </div>
    <div class="profile-edit">
      <%= link_to "EDIT", edit_user_path(@user.id), class: 'btn btn-success px-0 py-1 btn-lg edit-button' %>
    </div>
  </div>

  <div class="post-content">
    <div class="post-content-heding">
      <h2>My Post List</h2>
    </div>
    <div class="post-list">
      <% @user.posts.each do |messege| %>
        <div class="post-item">
        <% post_user = User.find_by(id: messege.receive_user_id) %>
          <lavel>Dear<%= post_user.nickname %></lavel>
          <text><%= messege.post_content %></text>
          <label><%= time_ago_in_words(messege.created_at) %></label>
        </div>
      <% end %>
    </div>
  </div>
</div>
