<div class="confirm container">
  <div class="confirm__heading">
    <h1 class="confirm__title">Confrmation</h1>
  </div>
  <%= form_for @contact, :url => contacts_thanks_path do |f| %>
    <div class="confirm__box">
      <div class="form-group row confirm__from">
        <label class="control-label offset-3 col-md-3 px-0 text-left confirm__label">ニックネーム</label>
        <%= f.hidden_field :name %>
        <label class="pl-0 col-md-4 confirm__label"><%= @contact.name %></label>
      </div>
      <div class="form-group row confirm__form">
        <label class="control-label offset-3 col-md-3 px-0 text-left confirm__label">メールアドレス</label>
        <%= f.hidden_field :email %>
        <label class="pl-0 col-md-4 confirm__label"><%= @contact.email %></label>
      </div>
      <div class="form-group row confirm__form">
        <label class="control-label offset-3 col-md-3 px-0 text-left confirm__label">お問い合わせ内容</label>
        <%= f.hidden_field :message %>
        <label class="pl-0 col-md-4 confirm__text"><%= simple_format(@contact.message) %></label>
      </div>
    </div>
    <div class="confirm__contact-button">
      <%= f.submit 'SUBMIT', :class => 'confirm__fuwatto-button--blue' %>
    </div>
  <% end %>
</div>