<div class="conteiner">
  <div class="confirm-heading">
    <h1>Confrmation</h1>
  </div>
  <%= form_for @contact, :url => contacts_thanks_path do |f| %>
    <div class="contact-box">
      <div class="form-group row justify-content-center">
        <label class="col-2 control-label col-from-label text-left pl-0">ニックネーム</label>
        <%= f.hidden_field :name %>
        <label class="col-3"><%= @contact.name %></label>
      </div>
      <div class="form-group row justify-content-center">
        <label class="col-2 control-label col-from-label text-left pl-0">メールアドレス</label>
        <%= f.hidden_field :email %>
        <label class="col-3"><%= @contact.email %></label>
      </div>
      <div class="form-group row justify-content-center">
        <label class="col-2 control-label col-from-label text-left pl-0">お問い合わせ内容</label>
        <%= f.hidden_field :message %>
        <label class="col-3"><%= simple_format(@contact.message) %></label>
      </div>
    </div>
    <div class="contact-buttom">
      <%= f.submit 'SUBMIT', :class => 'fuwatto_btn_blue' %>
    </div>
  <% end %>
</div>