<div class="contact container">
  <%= form_for @contact, :url => contacts_confirm_path do |f| %>
    <div class="contact__heading">
      <h1 class="contact__title">Contact</h1>
    </div>

    <% if @contact.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <strong>入力内容にエラーがあります</strong>
        <ul>
          <% @contact.errors.each do |attr, msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="contact__box">
      <div class="form-group row contact__form">
        <label class="control-label offset-3 col-md-3 px-0 text-left contact__label">ニックネーム<span class="text-danger">（必須）</span></label>
        <%= f.text_field :name , class:"form-control pl-0 col-md-4 contact__text" %>
      </div>
      <div class="form-group row contact__form">
        <label class="control-label offset-3 col-md-3 px-0 text-left contact__label">メールアドレス<span class="text-danger">（必須）</span></label>
        <%= f.text_field :email , class:"form-control pl-0 col-md-4 contact__text" %>
      </div>
      <div class="form-group row contact__form">
        <label class="control-label offset-3 col-md-3 px-0 text-left contact__label">お問い合わせ内容</label>
        <%= f.text_area :message, class:"form-control pl-0 col-md-4 contact__textarea" %>
      </div>
    </div>
    <div class="contact__contact-button">
      <%= f.submit 'CONFIRM', class: "contact__fuwatto-button--green" %>
    </div>
  <% end %>
</div>