<div class="conteiner">
  <div class="post-heading">
    <h1>Let's Praise!</h1>
  </div>
  <div class="index-content">
    <div class="members">
      <h2 class="members-heading">Members</h2>
      <div class="member-list">
        <% @users.each do |user| %>
          <% if user.not_current_user?(current_user) %>
          <hr></hr>
            <div class="member">
              <img src=<%= user.profile_image %> class = "icon_image", fallback: "no_image.jpg">
              <div class="profile">
                <label class="profile-name">ニックネーム:</label><label class="profile-item"><%= user.nickname %></label><br>
                <label class="profile-place">住まい:</label><label class="profile-item"><%= user.place %></label><br>
                <label class="profile-job">仕事:</label><label class="profile-item"><%= user.job %></label>
              </div>
              <div class="send-btn">
                <%= link_to "Praise", {controller: 'posts', action: 'new', id: user.id}, class: "btn btn-border" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= paginate @users %>
    </div>
    <div class="ranking">
      <h2 class="ranking-heading">Post Rnking</h2>
      <div class="ranking-box">
        <% @rankings.each.with_index(1) do |ranking, i| %>
        <div class="ranking-list">
          <label class="ranking-number">第<%= i %>位</label>
          <label class="ranking-name"><%= ranking.nickname %></label>
          <label class="ranking-post"><%= ranking.posts.count %>&nbsp;post</label>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>