<!DOCTYPE html>
<html>
  <head>
    <title>PraiseHabit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Prata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Italianno&family=Shippori+Mincho:wght@500&family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header">
        <div class="logo">
          <a class="logo__main" href="/">PRAISE HABIT</a>
        </div>
        <nav class="main-nav">
          <ul class="main-nav__nav-list">
            <% if user_signed_in? %>
              <li class="main-nav__nav-item">
                <%=link_to "My Page", users_my_page_path, class: "main-nav__item-second" %>
              </li>
              <li class="main-nav__nav-item">
                <%=link_to "Post Page", posts_path, class: "main-nav__item-second" %>
              </li>
              <li class="main-nav__nav-item">
                <%=link_to "Receive Page", reply_path(current_user.id), class: "main-nav__item-second" %>
              </li>
              <li class="main-nav__nav-item">
                <%=link_to "Contact", contacts_path, class: "main-nav__item-second" %>
              </li>
              <li class="main-nav__nav-item">
                <%=link_to "Sign Out", destroy_user_session_path, method: :delete, class: "main-nav__item-second" %>
              </li>
            <% else %>
              <li class="main-nav__nav-item">
                <%=link_to "About", homes_about_path, class: "main-nav__item-second" %>
              </li>
              <li class="main-nav__nav-item">
                <%=link_to "Contact", contacts_path, class: "main-nav__item-second" %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>


    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="footer">
        <p class="footer__item">Wishing a bright day</p>
      </div>
    </footer>

  </body>
</html>
