<!DOCTYPE html>
<html>
  <head>
    <title>PraiseHabit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Prata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Italianno&family=Shippori+Mincho:wght@500&family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="htmlContainer">
      <header id="page-header">
        <div class="wrapper">
          <div class="logo">
            <a class="logo__main" href="/">PRAISE HABIT</a>
          </div>
          <nav class="main-nav">
            <ul class="main-nav__nav-list">
              <% if user_signed_in? %>
                <li class="main-nav__nav-item">
                  <%=link_to "My Page", users_my_page_path, class: "main-nav__item-second" %>
                </li>
                <li class="main-nav__nav-item">
                  <%=link_to "Post Page", posts_path, class: "main-nav__item-second" %>
                </li>
                <li class="main-nav__nav-item">
                  <%=link_to "Receive Page", reply_path(current_user.id), class: "main-nav__item-second" %>
                </li>
                <li class="main-nav__nav-item">
                  <%=link_to "Contact", contacts_path, class: "main-nav__item-second" %>
                </li>
                <li class="main-nav__nav-item">
                  <%=link_to "Sign Out", destroy_user_session_path, method: :delete, class: "main-nav__item-second" %>
                </li>
              <% else %>
                <li class="main-nav__nav-item">
                  <%=link_to "About", homes_about_path, class: "main-nav__item-second" %>
                </li>
                <li class="main-nav__nav-item">
                  <%=link_to "Contact", contacts_path, class: "main-nav__item-second" %>
                </li>
              <% end %>
            </ul>
          </nav>
        </div>
      </header>
      <main>
        <%= yield %>
      </main>
      <footer>
        <div class="footer">
          <%= audio_tag 'odayakanaakinohi.mp3', id:"bgm" %>
          <button id="btn-play" type="button"><i class="fas fa-volume-off fa-2x"></i></button>
          <script>
            const bgm = document.querySelector("#bgm");
            const btn  = document.querySelector("#btn-play");
            btn.addEventListener("click", ()=>{
              if( ! bgm.paused ){
                btn.innerHTML = '<i class="fas fa-volume-off fa-2x"></i>';
                bgm.pause();
              }
              else{
                btn.innerHTML = '<i class="fas fa-volume-up fa-2x"></i>';
                bgm.play();
              }
            });
             bgm.addEventListener("ended", ()=>{
              bgm.currentTime = 0;
              btn.innerHTML = '<i class="fas fa-volume-off fa-2x"></i>';
            });
          </script>
          <p class="footer__item">Wishing a bright day</p>
        </div>
      </footer>
    </div>
  </body>
</html>
