<!DOCTYPE html>
<html>
  <head>
    <title>PraiseHabit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <a class="navbar-logo" href="/">PRAiSE HABiT</a>
        <nav>
          <ul>
            <% if user_signed_in? %>
              <li>
                <%=link_to "My Page" %>
              </li>
              <li>
                <%=link_to "Post Page", posts_path %>
              </li>
              <li>
                <%=link_to "A B O U T", homes_about_path %>
              </li>
              <li>
                <%=link_to "C O N T A C T", contact_index_path %>
              </li>
              <li>
                <%=link_to "Sign Out", destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li>
                <%=link_to "A B O U T", homes_about_path %>
              </li>
              <li>
                <%=link_to "C O N T A C T", contact_index_path %>
              </li>
            <% end %>
          </ul>
        </nav>
      </header>


      <main>
        <%= yield %>
      </main>


      <footer></footer>
    </div>
  </body>
</html>
