<div class="container sign-up">
  <div class="sign-up__heading">
    <h1 class="text-center sign-up__title">Sign up</h1>
  </div>
  <% if @user.errors.any? %>
    <div class="error-message">
      <ul class="error-messages">
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="sign-up__content">
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="form-group row sign-up__from">
        <label class="offset-3 control-label text-left col-md-3 px-0 sign-up__label">プロフィール画像</label>
        <%= f.file_field :profile_image, class: "sign-up__file" %>
      </div>

      <div class="form-group row sign-up__from">
        <label class="control-label offset-3 col-md-3 px-0 text-left sign-up__label">ニックネーム</label>
        <%= f.text_field :nickname , class:"form-control pl-0 col-md-4 sign-up__text" %>
      </div>

      <div class="form-group row sign-up__from">
        <label class="control-label offset-3 col-md-3 px-0 text-left sign-up__label">Eメール</label>
        <%= f.text_field :email , class:"form-control pl-0 col-md-4 sign-up__text" %>
      </div>

      <div class="form-group row sign-up__from">
        <label class="control-label offset-3 col-md-3 px-0 text-left sign-up__label">住んでいる都道府県</label>
        <%= f.select :place , User.places.keys, {}, class:"form-control pl-0 col-md-4 sign-up__select" %>
      </div>

      <div class="form-group row sign-up__from">
        <label class="control-label offset-3 col-md-3 px-0 text-left sign-up__label">仕事</label>
        <%= f.text_field :job , class:"form-control pl-0 col-md-4 sign-up__text" %>
      </div>

      <div class="form-group row sign-up__from">
        <label class="control-label offset-3 col-md-3 px-0 text-left sign-up__label">パスワード(6文字以上)</label>
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control pl-0 col-md-4 sign-up__text" %>
      </div>

      <div class="form-group row sign-up__from">
        <label class="control-label offset-3 col-md-3 px-0 text-left sign-up__label">パスワード(確認用)</label>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control pl-0 col-md-4 sign-up__text" %>
      </div>

      <div class="form-group position col-2 offset-5 sign-up__button">
        <%= f.submit 'SIGN UP', class:"btn btn-md btn-block btn-success p-2 sign-up__submit" %>
      </div>
    <% end %>
  </div>
</div>
